<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeAM</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="homepageNoLogin.css">
    <link rel="stylesheet" href="homepageLogin.css">
    <link rel="stylesheet" href="dashboardAdmin.css">
    <link rel="stylesheet" href="productdetail.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="searchdetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
    <%- body %>
</body>
<script src="/js/dashboardAdmin.js"></script>
<script src="/js/homepageNoLogin.js"></script>
<script src="/js/homepageLogin.js"></script>

</html>