<div class="container-box-login">
  <div class="center-box-login">
    <h3 class="container-box-login-header">LOG IN</h3>
    <% if (message) { %>
      <div style="background-color: #f44336; color: white; padding: 12px; margin-bottom: 16px; border-radius: 6px;">
        <strong>⚠️ Error:</strong>
        <%= message %>
      </div>
      <% } %>
        <form method="POST" action="/login" class="container-box-login-form-login">
          <label for="email" class="container-box-login-form-login-label">Email:</label>
          <input type="email" name="email" id="email" class="container-box-login-form-login-input" required>
          <br><br>
          <label for="password" class="container-box-login-form-login-label">Password:</label>
          <input type="password" name="password" id="password" class="container-box-login-form-login-input"
            required><br /><br />

          <button type="submit" class="container-box-login-btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a href="/register"
            class="container-box-login-register_here container-box-login-tag-index">Register here</a>.</p>
  </div>
</div>