<div class="microservice-layout">
    <div class="header-login">
        <div class="header-left">
            <span class="header-left_logo">
                <img src="OIP.jpg" alt="">
            </span>
            <span class="header-left_icon-homepage">
                <i class="fa-solid fa-house"></i>
            </span>
            <div class="header-left_search">
                <!-- Hoi chat gpt xem cái khung search này template như nào-->
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Nội dung bạn muốn tìm kiếm?">
                <i class="fa-solid fa-folder-open"></i>
            </div>
            <div class="header-left_search--history">
                <div class="header-left_search--history-header">Các tìm kiếm gần đây</div>
                <div class="header-left_search--history-item">
                    <img src="ST.jpg" alt="st-MTP" class="header-left_search--history-icon">
                    <div class="header-left_search--history-texts">
                        <div class="header-left_search--history-title">Cà phê sữa</div>
                        <div class="header-left_search--history-subtitle">25.000Đ</div>
                    </div>
                </div>
                <div class="header-left_search--history-item">
                    <img src="ST.jpg" alt="st-MTP" class="header-left_search--history-icon">
                    <div class="header-left_search--history-texts">
                        <div class="header-left_search--history-title">Cà phê sữa</div>
                        <div class="header-left_search--history-subtitle">25.000Đ</div>
                    </div>
                </div>
                <button class="header-left_search--history-clear-button">Xoá các tìm kiếm gần đây</button>
            </div>
        </div>
        <% if (user) { %>
            <div class="header-right">
                <div class="header-right_menu">
                    <ul class="header-right_menu--list">
                        <li class="header-right_menu--item">Premium</li>
                        <li class="header-right_menu--item">Hỗ trợ</li>
                        <li class="header-right_menu--item">Tải xuống</li>
                    </ul>
                    <div class="header-right_menu_download">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
                <div class="header-right_User">
                    <span class="header-right_User--noti"><i class="fa-solid fa-bell"></i></span>
                    <div class="header-right_User-box--avatar" id="avatarBtn">
                        <span class="header-right_User--avatar">N</span>
                    </div>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <div class="dropdown-item">
                            Tài khoản <i class="fa-solid fa-up-right-from-square icon"></i>
                        </div>
                        <div class="dropdown-item selected">
                            Hồ sơ
                        </div>
                        <div class="dropdown-item">
                            Nâng cấp lên Premium <i class="fa-solid fa-up-right-from-square icon"></i>
                        </div>
                        <div class="dropdown-item">
                            Tải xuống <i class="fa-solid fa-up-right-from-square icon"></i>
                        </div>
                        <div class="dropdown-item">
                            Cài đặt
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item logout">
                            Đăng xuất
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="header-right">
                    <div class="header-right_menu">
                        <ul class="header-right_menu--list">
                            <li class="header-right_menu--item">Thông tin</li>
                            <li class="header-right_menu--item">Liên hệ</li>
                            <li class="header-right_menu--item">Tải xuống</li>
                        </ul>
                        <div class="header-right_menu_download">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span class="header-right_menu_download--text">Đăng nhập cho Admin</span>
                        </div>
                    </div>
                    <div class="header-right_login">
                        <a class="header-right_login--signUp" href="/register">Đăng ký</a>
                        <a class="header-right_login--signIn" href="/login">Đăng nhập</a>
                    </div>
                </div>
                <% } %>
    </div>
    <div class="container">
        <!-- size 1/4-->
        <div class="container-sidebar">
            <div class="container-sidebar-homepageNoLogin">
                <ul class="container-sidebar-homepageNoLogin-playlist">
                    <li class="container-sidebar-homepageNoLogin-playlist--item" onclick="window.location.href='/'">
                        <div class="container-sidebar-homepageNoLogin-playlist-info">
                            <a href="/" class="container-sidebar-homepageNoLogin-playlist-title"
                                style="text-decoration: none; color: inherit;">Homepage</a>
                        </div>
                    </li>
                    <li class="container-sidebar-homepageNoLogin-playlist--item selected"
                        onclick="window.location.href='/products'">
                        <div class="container-sidebar-homepageNoLogin-playlist-info">
                            <a href="/products" class="container-sidebar-homepageNoLogin-playlist-title"
                                style="text-decoration: none; color: inherit;">Product</a>
                        </div>
                    </li>
                    <% if (user) { %>
                        <li class="container-sidebar-homepageNoLogin-playlist--item"
                            onclick="window.location.href='/cart'">
                            <div class="container-sidebar-homepageNoLogin-playlist-info">
                                <a href="/cart" class="container-sidebar-homepageNoLogin-playlist-title"
                                style="text-decoration: none; color: inherit;">Cart</a>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
        <!-- size 3/4 -->
        <div class="container-box-content">

            <div class="container-box-content1">
                <!-- Các loại cà phê -->
                <div class="container-box-component">
                    <div class="container-box-component--header" id="product-result-container">
                        <div class="container-box-component--header--div">
                            <span class="container-box-component--header--text">Sản phẩm</span>
                        </div>
                        <% if (products.length) { %>
                            <div class="slider-container">
                                <ul
                                    class="container-box-component--header--list container-box-component-product--header--list">
                                    <% products.forEach(product=> { %>
                                        <li class="container-box-component--header--item">
                                            <div class="song-thumbnail">
                                                <img src="/assets/images/products/<%= product.image %>" alt="<%= product.name %>"
                                                    class="container-box-component--header--item--img" />
                                                <span class="container-box-component--header--item--icon-play">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </span>
                                            </div>
                                            <span class="container-box-component--header--item--nameSong"> <%= product.name %></span>
                                            <span class="container-box-component--header--item--artist"><%= product.price %>Đ</span>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>

                        <% } else { %>
                        <span class="container-box-component--header--no-item">Không có sản phẩm
                            nào</span>
                        <% } %>
                    </div>
                </div>

                <!-- Footer -->
                <div class="container-box-footer">
                    <div class="box--list">
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Công ty</h3>
                            <li class="container-box-footer--item">Giới thiệu</li>
                            <li class="container-box-footer--item">Việc làm</li>
                            <li class="container-box-footer--item">For the Record</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Cộng đồng</h3>
                            <li class="container-box-footer--item">Dành cho các khách hàng</li>
                            <li class="container-box-footer--item">Nhà Phát triển</li>
                            <li class="container-box-footer--item">Quảng cáo</li>
                            <li class="container-box-footer--item">Nhà đầu tư</li>
                            <li class="container-box-footer--item">Nhà cung cấp</li>

                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Liên kết hữu ích</h3>
                            <li class="container-box-footer--item">Hỗ trợ</li>
                            <li class="container-box-footer--item">Ứng dụng di động miễn phí</li>
                            <li class="container-box-footer--item">Phổ biến quốc gia</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Các gói của shop</h3>
                            <li class="container-box-footer--item">Premium Individual</li>
                            <li class="container-box-footer--item">Premium Student</li>
                            <li class="container-box-footer--item">Shop free</li>
                        </ul>
                    </div>
                    <div class="box--icon">
                        <span class="box--icon--span">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-facebook"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-sidebar-right">
            <!-- Danh mục -->
            <div class="container-sidebar-right-filter">
                <h3 class="container-sidebar-right-filter-title">Danh mục</h3>
                <ul class="container-sidebar-right-filter-list" data-group="category">
                    <li class="container-sidebar-right-filter-item" data-value="Cà phê">Cà Phê</li>
                    <li class="container-sidebar-right-filter-item" data-value="Nước ép">Nước Ép</li>
                    <li class="container-sidebar-right-filter-item" data-value="Trà">Trà</li>
                    <li class="container-sidebar-right-filter-item" data-value="Bánh ngọt">Bánh Ngọt</li>
                </ul>
            </div>

            <!-- Khoảng giá -->
            <div class="container-sidebar-right-filter">
                <h3 class="container-sidebar-right-filter-title">Khoảng giá</h3>
                <ul class="container-sidebar-right-filter-list" data-group="price">
                    <li class="container-sidebar-right-filter-item" data-value="<30000">Dưới 30.000đ</li>
                    <li class="container-sidebar-right-filter-item" data-value=">=30000 & <=50000">30.000đ - 50.000đ</li>
                    <li class="container-sidebar-right-filter-item" data-value=">50000">Trên 50.000đ</li>
                </ul>
            </div>

            <!-- Sắp xếp theo giá -->
            <div class="container-sidebar-right-filter">
                <h3 class="container-sidebar-right-filter-title">Sắp xếp theo giá</h3>
                <ul class="container-sidebar-right-filter-list" data-group="sort">
                    <li class="container-sidebar-right-filter-item" data-value="asc">Thấp → Cao</li>
                    <li class="container-sidebar-right-filter-item" data-value="desc">Cao → Thấp</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script>
const filterState = {
  category: null,
  price: null,
  sort: null
};

// ✅ Assign event listeners to filter items
document.querySelectorAll('.container-sidebar-right-filter-item').forEach(item => {
    item.addEventListener('click', () => {
        const group = item.closest('[data-group]')?.dataset.group;
        const value = item.dataset.value;

        filterState[group] = filterState[group] === value ? null : value;

        fetchFilteredProducts(); // 🔁 Now calls correctly
    });
});

// ✅ Fetch filtered products from backend
function fetchFilteredProducts() {
    const cleanParams = {};
    for (const key in filterState) {
        if (filterState[key] !== null) {
        cleanParams[key] = filterState[key];
        }
    }
    const query = new URLSearchParams(cleanParams).toString();

    fetch(`/products/json?${query}`)
        .then(res => res.json())
        .then(products => {
            renderProducts(products);
        })
        .catch(err => {
            console.error('Failed to fetch products', err);
        });
}

// ✅ Render products or show empty message
function renderProducts(products) {
    const container = document.getElementById('product-result-container');

    // Remove all children after the first one (keep the header)
    while (container.children.length > 1) {
        container.removeChild(container.lastChild);
    }

    if (!products.length) {
        const noItem = document.createElement('span');
        noItem.className = 'container-box-component--header--no-item';
        noItem.textContent = 'Không có sản phẩm nào';
        container.appendChild(noItem);
        return;
    }

    const sliderContainer = document.createElement('div');
    sliderContainer.className = 'slider-container';

    const ul = document.createElement('ul');
    ul.className = 'container-box-component--header--list container-box-component-product--header--list';

    products.forEach(product => {
        const li = document.createElement('li');
        li.className = 'container-box-component--header--item';

        li.innerHTML = `
            <div class="song-thumbnail">
                <img src="/assets/images/products/${product.image}" alt="${product.name}"
                     class="container-box-component--header--item--img" />
                <span class="container-box-component--header--item--icon-play">
                  <i class="fa-solid fa-cart-shopping"></i>
                </span>
            </div>
            <span class="container-box-component--header--item--nameSong">${product.name}</span>
            <span class="container-box-component--header--item--artist">${product.price}Đ</span>
        `;

        ul.appendChild(li);
    });

    sliderContainer.appendChild(ul);
    container.appendChild(sliderContainer);
}
</script>